{  
    "presets": ["next/babel"],  
    "plugins": [    
        [      
            "styled-components",      
            {        
                "ssr": true,        
                "displayName": true,        
                "preprocess": false      
            },
            "babel-plugin-styled-components"
        ],
        [
            "@babel/plugin-transform-typescript",
            {
                "allowDeclareFields": true
            }
        ]
    ]
}
