.admin-section {
	background: #f3f3f3;
	margin-left: 300px;
	width: calc(100% - 300px);
	min-height: 100vh;
	padding: 1rem;

	.card {
		width: 100%;
		background: #fff;
		margin: 10px 0;
		background-clip: border-box;
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: 0.25rem;
		.card-body {
			flex: 1 1 auto;
			min-height: 1px;
			padding: 1.25rem;
			box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem !important;
		}
	}
	.section-title {
		font-size: 2rem;
	}
	.section-sub-title {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	.product-title {
		font-weight: bold;
	}
	.edit-btn {
		height: 100%;
		background: #283482;
		border: none;
		border-radius: 2px;
		color: #fff;
		padding: 0.5rem;
		// box-sizing: border-box;
		text-align: center;
		margin: 0;
		cursor: pointer;
	}

	.banner-item {
		height: 100px;
		margin-bottom: 2rem;
		div {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
		img {
			width: 200px;
		}
		.thumbnail {
			width: 150px;
			height: 100px;
			background: #eee;
			margin-bottom: 10px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: relative;
		}
		.upload-area {
			position: relative;
			width: 100px;
			height: 27px;
			.upload-input {
				cursor: pointer;
				opacity: 0;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 5;
			}
			.upload-btn {
				width: 100%;
				height: 100%;
				display: block;
				background: #283482;
				border: none;
				border-radius: 2px;
				color: #fff;
				padding: 3px;
				// box-sizing: border-box;
				cursor: pointer;
				text-align: center;
				i {
					margin-right: 3px;
				}
			}
		}
	}

	.intro-text {
		width: 100%;
		height: 300px;
	}
}
