.fence-section {
    width: 100%;
    .image {
        width: 60%;
        height: 60vh;
        margin: 2vh auto;
        background-image: url('/images/deck.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        }
    p {
        font-size: 1.2rem;
    }
    .image-area {
        width: 40%;
        height: 40vh;
        margin: 2vh auto;
        background-image: url('/images/deck.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        text-align: center;
        font-size: 5rem;
        line-height: 30vh;
        &:hover{
            background-size: 110%, 110%;
        }
        &.image1 {
            background-image: url('/images/fence/fence/fence1.png'); 
        }
        &.image2 {
            background-image: url('/images/fence/fence/fence2.png'); 
        }
        &.image3 {
            background-image: url('/images/fence/fence/fence3.png'); 
        }
    }
    .item{
        margin: 3vh auto;
        .item-title {
            text-align: start;
            font-size: 1.2rem;
            margin-left: 2vw;
            margin-right: 2vw;
            margin-bottom: 2vh;
            border-bottom: 2px solid black;    
        }
        .item-image {
            display: inline-block;
            margin: 0 1vw;
            width: 40%;
            height: 40vh;
            background-repeat: no-repeat;
            background-size: contain;
            text-align: center;
            font-size: 5rem;
            line-height: 25vh;
        }
        
    }
}