.intro-section {
    .title-area {
        width: 100%;
        height: 200px;
        background-image: url('/images/steelwork.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        .title {
            color: #fff;
        }
    }
    .sub-title{
        margin-top: 30px;
        width: 100%;
        height: 70px;
        line-height: 70px;
        background: #eee;
        font-size: 1.7rem;
    }
    .intro-text {
        width: 50%;
        margin: 50px auto;
        text-align: center;
        font-size: 1.2rem;
    }
}