@keyframes fadein {
  /* 효과를 동작시간 동안 0 ~ 1까지 */
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.fade-in{
  animation: fadein 3s;
}
.opacity-0 {
  opacity: 0;
}
.opacity-1 {
  opacity: 1;
}
.main-section {
  width: 100%;
  // height: fit-content;
  .main-banner {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
    transition: 0.5s;
    &.banner1{
      background: url("/images/deck.jpg");
    }
    &.banner2{
      background: url("/images/steelwork.jpg");

    }
    &.banner3{
      background: url("/images/steelwork2.jpg");

    }
    .banner-text {
      position: absolute;
      left: 10vw;
      top: 50vh;
      font-size: 4rem;
      color: #fff;
      span {
        color:#f0ad4e
      }
    }
    .prev-btn {
      position: absolute;
      left: 2vw;
      top: 48vh;
      color: #fff;
      font-size: 2.5rem;
    }
    .next-btn {
      position: absolute;
      right: 2vw;
      top: 48vh;
      color: #fff;
      font-size: 2.5rem;
    }
    .banner-nav {
      position: absolute;
      width: 6vw;
      left: 47vw;
      bottom: 2vh;
      color: #fff;
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      .nav-btn {
        display: inline-block;
      }
    }
  }

  .intro {
    width: 100%;
    height: 100vh;
    background: url("https://cdn.imweb.me/thumbnail/20180525/5b078cf9927ca.jpg");
  }

  .products {
    width: 100%;
    height: 100vh;
    background: url("/images/wood.png");
    background-repeat: no-repeat;
    .sub-title-2 {
      color: #fff;
      font-size: 4rem;
      margin-top: 10vh;
    }
    
    .menus {
      margin: 10vh auto;
      width: 70vw;
      height: 35vw;
      .menu-wrap {
        float: left;
        width: 35vw;
        height: 35vw;
        display: flex;
        align-items: center;
      }
      .menu-circle {
        width: 30vw;
        height: 30vw;
        margin: 0 auto;
        border-radius: 50%;
        color:transparent;
        text-align: center;
        font-size: 2.5rem;
        &:hover{
          filter: grayscale(100%);
          width: 35vw;
          height: 35vw;
          line-height: 35vw;
          color:#fff;
        }
      }
      .deck {
        background: url("/images/deck.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      .steelwork {
        background: url("/images/steelwork2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  .certificates {
    width: 100%;
    height: 100vh;
  }
}
