.relative {
  width: 100%;
  height: 150px;
  background-color: #f00;
  position: relative;
}

.absolute {
  width: 100px;
  height: 100px;
  background-color: aqua;
  position: absolute;
  top: 150px;
  left: 50px;
}
